

[role=row]:hover, tr:not([role]):hover {
    background-color: yellow;
}

[role=columnheader]:hover, th:not([role]):hover  {
    background-color: #6699ff;
    position: relative;
}

[role=gridcell]:hover, td:not([role]):hover  {
    background-color: #99ccff;
    position: relative;
}

[role=columnheader]:hover:after,
[role=gridcell]:hover:after,
th:not([role]):hover:after,
td:not([role]):hover:after {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1px;
	background-color: rgba(255,255,255, 0.7);
	font-family: sans-serif;
	font-size: 10px;
}

[role=columnheader]:hover:after {
	content: "columnheader";
}

[role=gridcell]:hover:after {
	content: "gridcell";
}


th:not([role]):hover:after {
	content: "th";
}

td:not([role]):hover:after {
	content: "td";
}