[role=grid] {
    display: table !important;
    border-collapse: separate !important;
    border-spacing: 2px !important;
    border-color: gray !important;
    border-width: 1px !important;
}

[role=rowgroup] {
    display: table-row-group !important;
    vertical-align: middle !important;
    border-color: inherit !important;
}

[role=row] {
    display: table-row !important;
    vertical-align: inherit !important;
    border-color: inherit !important;
}


[role=gridcell], [role=columnheader] {
    display: table-cell !important;
    vertical-align: inherit !important;
    border: 1px solid black !important;
}

[role=columnheader] {
    font-weight: bold !important;
}


img {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


.field-label-wrapper span {
  border-bottom: 1px dashed;
}
